[core]
	excludesfile = ~/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	ad = add
	ada = add --all
	st = status
	co = checkout
	sw = switch
	br = branch
	bra = branch -a
	cm = commit
	cmm = commit -m
	cmam = commit --amend
	mg = merge
	mg-noff = merge --no-ff
	ft = fetch
	fet = fetch
	pll = pull
	psh = push
	diff-no = diff --name-only
	log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[merge]
	tool = vimdiff

[push]
	default = simple

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
	branch = cat

[diff]
	compactionHeuristic = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[ghq]
	root = ~/repo/src
	root = ~/go/src
